.app {
    background-color:#ffc3e1;
}
.title {
    color:rgb(255, 0, 191);
}
.choices button {
    background-color: #ee99ee; /* pink background */
    border: 1px solid rgb(255, 0, 191); /* Green border */
    color: rgb(0, 0, 0); /* black text */
    padding: 10px 24px; 
    cursor: pointer;
  border: 3px solid #000000; 
}
.myDiv {
    border: 10px outset rgb(0, 0, 0);
    background-color: rgb(252, 252, 252);    
    text-align: center;
  border: 3px solid rgb(0, 0, 0);
}
